#GRUPO DE ORDENADORES CON MONITOR DE 17 PULGADAS

# --- XServer Options
#
# SCREEN_RESOLUTION       Screen resolutions available in the workstations
# SCREEN_COLOR_DEPTH      Number of bits per pixel (8,16,24)
# SCREEN_HORIZSYNC        Monitor horizontal sync frequency in Khz.
# SCREEN_VERTREFRESH      Monitor vertical refresh frecuency in Hz.
# SCREEN_X_FONT_SERVER    IP address or hostname of the font server for X
# MOUSE_PROTOCOL          Mouse protocol type (Microsoft, PS/2, etc.)
#                         (mouse is autodetected, use this only if it fails)
# MOUSE_DEVICE            Mouse device:  /dev/ttyS0 -> COM1
#                                   /dev/ttyS1 -> COM2
#                                   /dev/ttyS2 -> COM3
#                                   /dev/ttyS3 -> COM4
#                                   /dev/psaux -> PS/2 mouse port
#                                   /dev/input/mice -> USB mouse (needs USB package)
# MOUSE_RESOLUTION        Mouse resolution
# --- Advanced XServer Options - Experts Only
# X_DRIVER_NAME           Driver for X, this will override the autodetection scripts
# X_DRIVER_BUSID          Addditional options for driver

#Parametros de ahorro de energía
SCREEN_BLANK_TIME="0"
SCREEN_STANDBY_TIME="0"
SCREEN_SUSPEND_TIME="0"
SCREEN_OFF_TIME="0"
POWEROFF_TIME=0

#SCREEN_RESOLUTION="1440x900 | *"
SCREEN_COLOR_DEPTH="24"
#SCREEN_HORIZSYNC="31-84 | *"
#SCREEN_VERTREFRESH="56-76 | 60 | 56 | 70 | 72 | 75"
SCREEN_HORIZSYNC="31-84 | *"
SCREEN_VERTREFRESH="75"

#NUEVA DE TONIN

#SCREEN_HORIZSYNC="60"
#SCREEN_VERTREFRESH="75"
#MOUSE_DEVICE=/dev/input/mice
#MOUSE_RESOLUTION=400
#MOUSE_ACCELERATION=1/2
#X_DRIVER_OPTION1="swcursor On"
#X_DRIVER_OPTION2="Xinerama Off"
# --- Advanced Options - Experts Only
#X_DRIVER_NAME="mga"
#X_DRIVER_BUSID="PCI:1:0:0"

#############################################################
## PARAMETROS GLOBALES DE THINSTATION PARA TODAS LAS AULAS ##
#############################################################

# SERVIDOR DE SYSLOG-NG
SYSLOG_NG_SERVER=150.214.118.25
SYSLOG_NG_SERVER=150.214.110.143


#PONER LA ZONA HORARIA BIEN Y SINCRONIZAR DE GONGORA
TIME_ZONE="Europe/Madrid"
NET_TIME_SERVER="150.214.110.1"

#DIRECCION DEL ICABROWSER
#EXPERIMENTAL MULTIPLES BROWSERS
SESSION_2_ICA_APPSRV_LOCTCPBROWSERADDRESS="ibmblade01.uco.es"
SESSION_2_ICA_APPSRV_LOCTCPBROWSERADDRESS1="ibmblade02.uco.es"
SESSION_2_ICA_APPSRV_LOCTCPBROWSERADDRESS2="ibmblade05.uco.es"
SESSION_2_ICA_APPSRV_LOCTCPBROWSERADDRESS3="ibmblade06.uco.es"
SESSION_2_ICA_APPSRV_LOCTCPBROWSERADDRESS4="ibmblade21.uco.es"

ICA_DESIREDCOLOR="4"

#MONTAJE DEL REPOSITORIO /usr/local
#  SI LA NAS SE ESCACHARRA, COMENTAR LA PRIMERA LINEA Y DESCOMENTAR LA SEGUNDA
#NFSLOCAL_MOUNT="nfs:/TEMPORAL/TEMPORAL/TSDEV"
#NFSLOCAL_MOUNT="nfs:/TSEXP/TSEXP"

#  OJO: COMENTO LAS SIGUIENTES 2 LINEAS PARA PROBAR LO DEL BRIDGING, DESCOMENTAR DESPUES
  NFSLOCAL_TYPE="-t nfs"
  NFSLOCAL_MOUNT="nfsvnx-172-16.priv.uco.es:/TS3/TEST3.5/DEV"

# El siguiente parámetro mete una ruta directa al NFS.
  NFSLOCAL_ROUTE=TRUE

#MONTAJE DEL HOME DEL USUARIO
#  ATENCION, EL FORZADO DE QUE MONTE POR SMB O NFS VA EN EL FICHERO DE CADA AULA
#  SI SE ROMPE LA NAS Y SE HABILITA PROVISIONALMENTE OTRO SERVIDOR, CAMBIAR LAS
#  LINEAS "NFS_HOME_SERVER y NFS_HOME_ROOT" APUNTANDO AL NUEVO SERVIDOR
SMB_HOME_SERVER="lucano"
NFS_HOME_SERVER="nfsvnx-172-16.priv.uco.es"
NFS_HOME_ROOT="/HOMESNFS/HOMESNFS"

#Experimental cambios ICA
ICA_KEYBOARD=Spanish
X_NUMLOCK=ON
ICA_WFCLIENT_UseEUKS=2


#EJEMPLO DE CARGA DINAMICA DE MODULOS MEDIANTE PAQUETES
#MOD_PREFIX=packages
#MOD_PACKAGES="pwc videodev uvcvideo"



#TEMPLATE GROUP

MOUSE_PROTOCOL=IMPS/2
KEYBOARD_MAP=es
NET_TELNETD_ENABLED=ON
NET_REMOTE_ACCESS_FROM="150.214.0.0"
SYSLOG_SERVER=local
RECONNECT_PROMPT="On"
TIME_ZONE="Europe/Madrid"

#SCREEN_X_FONT_SERVER=150.214.110.200:7100
SCREEN=0
WORKSPACE=1
AUTOSTART=ON

SESSION_0_TITLE="LINUXLOCAL"
SESSION_0_TYPE=uco
SESSION_0_SCREEN=0

#SESSION_1_TITLE="LUCANO"
#SESSION_1_TYPE=x
#SESSION_1_X_SERVER=gongora.uco.es
#SESSION_1_X_OPTIONS="-query"
#SESSION_1_SCREEN=1

SESSION_1_TITLE="VMWAREXP"
SESSION_1_TYPE=vmplayer
SESSION_1_SCREEN=1

SESSION_2_TITLE="WINDOWS"
SESSION_2_TYPE=ica
SESSION_2_ICA_APPLICATION_SET="ADMINUCOBIB02"
SESSION_2_ICA_APPLICATION_SET="UCO-ESCRITORIO"
SESSION_2_ICA_APPLICATION_SET="UCO2003-ESCRITORIO"
SESSION_2_ICA_SERVER="ibmblade01"
SESSION_2_SCREEN=2


#SESSION_1_TITLE="ULTEO1"
#SESSION_1_TYPE=ulteo
#SESSION_1_ULTEO_HOST="sicsop02.uco.es"
#SESSION_1_ULTEO_MODE="desktop"
#SESSION_1_ULTEO_SIZE="fullscreen"
#SESSION_1_ULTEO_LOCKEDGUI="true"
#SESSION_1_ULTEO_USER="tonin"
#SESSION_1_SCREEN=1


#SESSION_2_TITLE="ULTEO2"
#SESSION_2_TYPE=ulteo
#SESSION_2_ULTEO_HOST="sicsop02.uco.es"
#SESSION_2_ULTEO_MODE="desktop"
#SESSION_2_ULTEO_SIZE="fullscreen"
#SESSION_2_ULTEO_LOCKEDGUI="true"
#SESSION_2_ULTEO_USER="us2rab01"
#SESSION_2_SCREEN=2

SESSION_3_TITLE="selector"
SESSION_3_SCREEN=3
SESSION_3_TYPE=selector

#EXPERIMENTAL: PREPARACION DEL DISCO DURO
PREPARE_HD="ON"
PREPARE_HDLINUX_VERSION="20100614b"
PREPARE_FSCACHE_VERSION="20121025"
PREPARE_HD_TYPE="default"

FORCE_HOME_SMB=OFF

#EXPERIMANTAL: PARA USAR TRITON
USE_TRITON="OFF"

#NXSERVER
USE_NXSERVER="ON"

#EXPERIMENTAL : BITTORRENT
BT_START=ON
VIRTUAL_IMAGES=(
  AulasWindowsXP
  SolidEdge
  DeployTest
)

#EXPERIMENTAL: CUPS
CUPS_START=ON
CUPS_0_PRINTER=dell-soporte-color
CUPS_1_PRINTER=lj4200
CUPS_2_PRINTER=dell-sistemas-color
CUPS_3_PRINTER=biblioteca-epson-c2800
CUPS_4_PRINTER=belmez-oki-c9600

#EXPERIMENTAL: TMPDATA
TMPDATA=ON

#EXPERIMENTAL: USER_VMPLAYER
USER_VMPLAYER=OFF

